<?xml version="1.0" encoding="utf-8"?>
<connecter>
  <workspace>
    <fileVersion>1.1</fileVersion>
    <settings>
      <setting key="2001">D:\GitHub\3dassets</setting>
      <setting key="2002"></setting>
      <setting key="2003">ShowMissingItems</setting>
    </settings>
  </workspace>
</connecter>